@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root {
  --header: 'Josefin Sans', sans-serif;
}

* {
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: #404040;
  padding: 1rem;
}

header a {
  color: #ffffff;
  font-weight: bolder;
  text-decoration: none;
}

main {
  padding: 1rem;
}

.title-featured {
  padding-left: 30px;
  text-align: center;
}

.title-header {
  font-size: 28px;
  font-family: var(--header);
}

.products {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.product {
  border: 1px #404040 solid;
  margin: 1rem;
}

.product-info {
  padding: 1rem;
}

.product img {
  width: 100%;
  max-width: 400px;
}